@import url("../fonts/glyphicons-halflings-regular.woff2");
@import url("https://fonts.googleapis.com/css?family=Kosugi+Maru|Lato:300,400,700");

/* p {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
}

.block {
  width: 100px;
  height: 100px;
  background: blue;
}

.two {
  background: red;
}

.ex {
  height: 100px;
  background: red;
} */


/* Solution to Wireframe */
body {
  padding: 20px;
}

.well-row {
  margin-left: -30px;
  margin-right: -30px;
}

.well {
  min-height: 100px;
}

header {
  padding: 5px 20px;
}

.navbar-brand {
  height: 40px;
  width: 100px;
  border-radius: 5px;
}

#carousel-example-generic {
  border-radius: 50%;
}
